@import "reset.css";

:root {
    --main-color: #008ccf;
    --secondary-color: #FFF;
    --main-loader-color: #008ccf59;
    --alert-bg-color: #ffddde;
    --alert-text-color: #a23433;
}

@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}

body {
    font-family: Gotham, Arial, sans-serif;
    background-color: var(--main-color);
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 5rem;
}

#site-entry-form {
    min-width: 40vw;
}

#site-entry-form--heading {
    color: var(--secondary-color);
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 1rem;
    text-align: center;
}

#site-entry-form--title {
    color: var(--secondary-color);
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.32px;
    display: block;
    text-align: center;
    margin-bottom: 2rem;
}

.label-text {
    display: block;
}

#site-entry-form--body {
    position: relative;
    margin: 13px;
}

label span {
    color: var(--secondary-color);
    margin: 5px 0;
}

#site-code-input {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 3px solid var(--secondary-color);
    border-radius: 5px;
    background-color: transparent;
    padding: 10px 16px;
    width: 100%;
    height: 52px;
    color: var(--secondary-color);
    box-sizing: border-box;
    font-size: 16px;
}

#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: auto;
    max-width: 100%;
    height: auto;
}

#submit-button {
    -webkit-appearance: none;
    background-color: var(--secondary-color);
    border: 0;
    border-radius: 5px;
    color: var(--main-color);
    cursor: pointer;
    font-family: Gotham, Arial, sans-serif;
    transition: all 0.2s ease-in-out;
    font-size: 20px;
    font-weight: bolder;
    height: 52px;
    padding: 13px;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
    display: block;
}

#submit-button[disabled] {
    font-size: 0;
}

.loading.hide {
    display: none;
}

.loading {
    display: block;
    height: 52px;
    width: 100%;
    overflow: hidden;
    position: absolute;
}

.loading::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(285deg, transparent, var(--main-loader-color), transparent);
    transform: translateX(-100%);
    animation: loading .9s infinite;
}

.alert {
    background-color: var(--alert-bg-color);
    color: var(--alert-text-color);
    font-size: 20px;
    padding: 20px 5px 20px 25px;
    top: 0;
    width: 100%;
    display: none;
    box-sizing: border-box;
}

.alert.visible {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.alert li {
    list-style-type: decimal;
    list-style-position: outside;
    font-size: 14px;
    margin-left: 2.5rem;
    word-wrap: break-word;
    padding-right: 2.2rem;
    padding-top: 0.2rem;
}