@import "reset.css";

body {
    font-family: "Neue Haas Grotesk W01 Disp", Arial, sans-serif;
}

#container {
    background-color: #a4343a;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#site-entry-form--title {
    color: white;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.32px;
    display: block;
    text-align: center;
}

#site-entry-form--body * {
    display: block;
}

#site-entry-form--body {
    margin: 13px;
}

label span {
    color: #FFF;
    margin: 5px;
}

#site-id-input {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 3px solid #FFF;
    border-radius: 0;
    background-color: transparent;
    padding: 10px 16px;
    width: 100%;
    height: 52px;
    color: #FFF;
    box-sizing:border-box;
    font-size: 16px;
}

#submit-button {
    background-color: white;
    border: 0;
    border-radius: 2px;
    color: #a4343a;
    cursor: pointer;
    font-family: "Neue Haas Grotesk W01 Disp", Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 52px;
    padding: 13px;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
}

#alert {
    background-color: #a23433;
    color: #a23433;
    font-size: 20px;
    padding: 15px 25px 15px 25px;
    position: fixed;
    top: 0;
    width: 100%;
}

#alert.visible {
    background-color: #ffddde;
}